@import "tailwindcss";

:root {
  --background: #1c1c1c;
  --foreground: #ffffff;

  /* NOTES since variables not load preprocess for media queries */
  /* --mobile: 774px */
}

body {
  color: var(--foreground);
  background-image: url("/site_bg.jpg");
  background-size: cover;
  height: 500vh;
}
