.container {
  width: 100%;
  padding: 1rem 4rem;

  position: sticky;
  left: 0;
  top: 0;
  transition: top 0.3s;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.5);
}

.hidden {
  top: -100%;
  transition: top 2s;
}

.links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.link {
  font-size: 1.2rem;
  transition: font-size 0.2s;
}

.link:hover {
  font-size: 1.4rem;
  cursor: pointer;
  transition: font-size 0.2s;
}
